<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/images/logo/Brand Mark(Logo).png" />
    <title>Absolute Global Outsourcing</title>
</head>
<form id="myForm" action="/profile" return="validation()" method="post">

    <body class="lg:bg-gradient-to-r from-white to to-blue-500">
        <div class="container pt-2 lg:mt-48 flex flex-col mx-auto items-center justify-center lg:flex-row">

            <div class="left w-1/2 mx-10 ">
                <img class="w-80 mx-auto" src="/images/logo/Brand(Logo).svg" alt="">
                <p class="text-3xl mx-8 hidden lg:block ">Absolute Global Outsourcing. We provide solutions for
                    business!.</p>
            </div>

            <div class="right flex flex-col bg-white p-9 rounded-md w-full lg:w-1/4 lg:text-lg relative">
                <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg outline-blue-600" type="text"
                    placeholder="Email address or phone number" name="uname" id="email">
                <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg outline-blue-600"
                    type="password" placeholder="Password" name="psw" id="password">
                <button type="submit" name="Login" id="go" value="Login"
                    class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white my-2 py-3 rounded-md font-bold text-xl hover:bg-blue-700">Log
                    in</button>

                <hr class="my-2">
                <a href="/register"
                    class="bg-gradient-to-r from-blue-400 to to-green-400 text-white my-2 py-3 px-4 mx-auto rounded-md font-bold text-xl w-fit">Create
                    New Account</a>
                <span class="absolute -bottom-2 lg:-bottom-12 text-sm mx-12 lg:mx-0"> 
                    <a href="/users" class="font-bold hover:underline cursor-pointer">Admin Login </a>for a celebrity, brand
                or
                business.
            </div>

        </div>
</form>
<script>
    function validation() {
    var user = req.body.uname;
    var password = req.body.psw;
    connection.query('SELECT * FROM power WHERE name = ? ', [user], function(err, rows, fields) {
    if(err) throw err
    // if user not found
    if (req.session.loggedin = false) {
    req.flash('error', 'Please correct enter email and Password!')
    res.redirect('/pageNotFound')
    }
    else { // if user found
    // render to views/user/edit.ejs template file
    req.session.loggedin = true;
    res.redirect('/profile');
    }     
    console.log(rows)       
    })
    }
  </script>

<script src="https://cdn.tailwindcss.com"></script>

</body>

</html>